<!DOCTYPE html>
<html>

<head>
 <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capivarias</title>
    <link rel="icon" type="image/png" href="https://www.clipartmax.com/png/middle/337-3376372_capybara-capivara-desenho-kawaii.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#20fcf3">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#20fcf3">

</head>

<style>
    {% include 'capivarias/partials/styles2.css'%}
    {% include 'capivarias/partials/styles.css'%}
</style>

<body style="margin: 0; color: rgb(0, 0, 0); background-color: #dcf0e2;  font-size: 25px">
    <nav id='menu' style="font-family: 'Quicksand', sans-serif;">
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
            <ul>
              <li><a href='/'>Capivarias</a></li>
            </ul>
          </nav>
    </div>
    <section class="leading">
          <p class="leading-bigtext" >{{capivarias.titulo}}


          </p>
        </section>
        <h1 style="text-align: center;margin: 40px;"><span style=' font-family: "Comic Sans MS", sans-serif; color: rgb(210, 17, 168);'></span><span style='font-family: "Comic Sans MS", sans-serif; color: rgb(210, 17, 168);'></span></h1>

    <div style="padding-left: 25vw; padding-right: 25vw; font-family: 'Comic Sans MS';">
                <div style="font-size: 20px; ">
         Por: {{capivarias.autor}}
         <span style="color: #8a8a8a">{{capivarias.data_hora|date:'d/m/Y H:i'}}</span></div>
        <br>

        <h3>{{capivarias.descricao_curta}}</h3>


        <div>
            <div style="float: left;"><img style="width: 382px; margin-right: 25px" src="{{capivarias.img_final}}"></div>
            <div>{%autoescape off%}{{capivarias.conteudo}}{%endautoescape%}</div>
            <p><br></p>

        </div>
        <br>
        <a href="/" style="text-decoration: none; color: black; font-size: 30px;">Voltar e ver mais capivaras!👉</a>

        </div>
    <br><br>



</body>

</html>
