<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script>
     {% include 'capivarias/partials/scripts.js'%}
</script>

<style>
     {% include 'capivarias/partials/styles2.css'%}

</style>

<body>
    <nav id='menu'>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
            <ul>
              <li><a href='/'>Home</a></li>
              <li><a href='/informativo'>Informativo</a></li>
              <li><a href='/engracado'>Engraçado</a></li>
              <li><a href='/fofo'>Fofo</a></li>
            </ul>
          </nav>

</body>
</html>



